body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navbar {
    background-color: #b30000;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar b {
    font-size: 20px;
}

.nav-links a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.search-box input {
    padding: 6px;
}

.search-box button {
    padding: 6px 10px;
    cursor: pointer;
}

/* HEADING */
h2 {
    text-align: center;
    margin-top: 20px;
}

/* TABLE */
table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ffcccc;
}

tr:hover {
    background-color: #f1f1f1;
}